// SCSS mixin definitions for V4client

@mixin be-accessible(){
   outline: 3px dotted var( --uvalib-accessibility-highlight );
   outline-offset: 3px;
}
@mixin be-accessible-light(){
   outline: 3px dotted var(--uvalib-grey-lightest);
   outline-offset: 3px;
}

@mixin be-accessible-field(){
   outline: 0;
   box-shadow: inset 0 0 5px 1px var(--uvalib-accessibility-highlight);
}

@mixin apply-hover() {
    background-color: var(--uvalib-brand-blue-lightest);
    color: var(--uvalib-text-dark);
}

@mixin base-button() {
   font-family: inherit;
   font-size: 100%;
   padding: 0.5em 1em;
   color: #000c;
   border: none transparent;
   background-color: #e6e6e6;
   text-decoration: none;
   margin: 0;
   border-radius: 5px;
   font-weight: 400;
   &:focus {
      @include be-accessible();
   }
   &:hover {
      background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
   }
}

@mixin primary-button() {
   color: #ffffff;
   background-color: var(--uvalib-brand-blue-light);
   border: 1px solid var(--uvalib-brand-blue-light);
   margin: 0 0 5px 10px;
   &:hover {
      background-color: var(--uvalib-brand-blue-lighter);
      border: 1px solid var(--uvalib-brand-blue-lighter);
      transition: all 0.3s ease;
   }
}