form.formkit-form {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
   gap: 15px;
   .scroller, .section, .content {
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 15px;
      padding: 5px;
   }
}

.form-controls {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-end;
   align-items: stretch;
   margin: 10px 0 0 0;
   padding: 0;
   gap: 1rem;
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
input,
select,
textarea,
.v4-form-input {
   padding: 0.5em 0.6em;
   display: inline-block;
   border: 1px solid #ccc;
   -webkit-box-shadow: inset 0 1px 3px #ddd;
   box-shadow: inset 0 1px 3px #ddd;
   border-radius: 0.3rem;
   vertical-align: middle;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   box-shadow: none;
}

button.v4-form-input {
   font-family: inherit;
   font-size: 100%;
   padding: 0.5em 1em;
   text-decoration: none;
   margin: 0;
   border-radius: 0.3rem;
   font-weight: 400;
   background-color: $uva-grey-200;
   border: 1px solid $uva-grey;
   color: #000;
   cursor: pointer;

   &:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, .05)), to(rgba(0, 0, 0, .1)));
      background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1));
   }

   &:focus {
      outline: 1px dashed $uva-brand-blue-100;
      outline-offset: 2px;
   }
}

.submit-button  {
   button.v4-form-input {
      color: #ffffff;
      background-color: $uva-brand-blue-100;
      border: 1px solid $uva-brand-blue-100;
      &:hover {
         background-color: $uva-brand-blue-200;
         border: 1px solid $uva-brand-blue-200;
         transition: all 0.3s ease;
      }
   }
}

.formkit-outer[data-type="radio"] {
   margin-top: 20px;

   .v4-form-help {
      margin: 5px 0 20px 5px;
   }

   fieldset {
      border: 1px solid $uva-grey-100;
      border-radius: 0.3rem;

      legend {
         padding: 0 5px;
      }

      ul.formkit-options {
         list-style-type: none;
         padding: 0;
         margin: 5px 10px;
         display: flex;
         flex-flow: row wrap;
         justify-content: flex-start;

         li {
            margin: 5px 0;

            .formkit-inner {
               display: inline-block;
            }
         }
      }

      .v4-form-label {
         display: inline-block;
         margin: 0 20px 0 5px;
      }
   }
}

span.req {
   margin-left: 0.5rem;
   color: $uva-grey-B;
   font-size: 0.9em;
}

i.req {
   font-size: 0.5em;
   margin-right: 3px;
   position: relative;
   top: -2px;
   color: $uva-grey;
}

span.req-label {
   color: $uva-text-color-base;
}

div.sort .formkit-wrapper {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
   .v4-form-label {
      font-weight: bold;
   }
}

.v4-form-help {
   margin: 5px 0;
   font-size: 0.9em;
   color: $uva-grey-B;
}

.v4-form-invalid {
   list-style: none;
   padding: 0;
   margin: 10px 0 0 0;
   color: $uva-red-A;
   text-align: left;
}

.v4-form-label {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
   color: $uva-text-color-dark;
   font-weight: normal;
   margin-bottom: .2em;
   margin-top: .5em;
}

.v4-form-input {
   width: 100%;
}
