.viewoption {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
}

#app {
   button.p-tab {
      border-radius: 0.3rem 0.3rem 0 0;
   }
   button.p-button-info {
      border-width: 2px;
   }
   button.p-button.checked {
      .p-button-icon {
         color: $uva-brand-blue-100;
      }
   }
   button.p-button-link {
      margin: 0;
      padding: 2px 10px;
      &:hover {
         text-decoration: underline;
      }
   }
   a.p-button.p-component {
      &:hover {
         text-decoration: none;
      }
   }

   .p-carousel-item-list .p-carousel-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      justify-content: center;
   }

   div.p-panel-header {
      border-bottom: 1px solid $uva-grey-100;
      margin-bottom: 10px;
   }

   div.p-menubar {
      justify-content: flex-end;
      .p-menubar-end {
         margin-left: initial;
         display: flex;
         flex-flow: row nowrap;
         justify-content: flex-end;
         align-items: center;
      }
      div.p-menubar-item-content a {
         &:hover {
            text-decoration: none;
            color: #ffffff;
         }
      }
      ul.p-menubar-submenu {
         border-radius: 0.3rem;
      }
   }
}

div.p-select-overlay.p-component {
   background: white;
   padding: 0;
   border: 1px solid $uva-grey-100;
   border-radius: 0.3rem;
   .p-select-option.p-select-option-selected, .p-select-option.p-select-option-selected.focus {
      background: $uva-blue-alt-300;
      color: $uva-text-color-dark;
   }
}

.p-dialog-mask {
   .p-dialog {
      .p-dialog-header {
         background: $uva-teal-200;
         border-bottom: 1px solid $uva-teal-100;
         border-radius: 0.3rem 0.3rem 0 0;
         margin-bottom: 20px;
      }
   }
}