// .p-component-overlay {
//    .p-dialog {
//       width:650px;
//       .p-dialog-header {
//          padding: 5px 10px;
//          background: var(--uvalib-teal-lightest);
//          border-bottom: 1px solid var(--uvalib-teal-light);
//          .p-dialog-title {
//             font-size: 1em;
//          }
//       }
//       .p-dialog-content {
//          padding: 15px 15px 10px 15px;
//       }
//       .p-dialog-footer {
//          padding: 10px 10px 20px 10px;
//       }
//    }
//    .p-dialog.error {
//       width: 500px;
//       .p-dialog-header {
//          padding: 5px 10px;
//          background: var( --uvalib-red-darker) !important;
//          .p-dialog-title {
//             font-size: 1em;
//             color: white;
//          }
//          .p-dialog-header-close-icon {
//             color: white;
//          }
//       }
//       .p-dialog-content {
//          padding: 15px;
//       }
//       .p-dialog-footer {
//          padding: 15px 15px 20px 15px;
//       }
//    }
//    .p-dialog.p-confirm-dialog {
//       max-width: 500px;
//       .p-dialog-header {
//          padding: 5px 10px;
//          background: var(--uvalib-teal-lightest);
//          border-bottom: 1px solid var(--uvalib-teal-light);
//          .p-dialog-title {
//             font-size: 1em;
//          }
//       }
//       .p-dialog-content {
//          padding-top: 25px;
//          font-size: 0.9em;
//       }
//       button.p-button {
//          margin-left: 5px;
//       }
//    }
// }

#app div.p-menubar.p-component {
   background-color: var(--uvalib-blue-alt-darkest);
   position: relative;
   padding: 15px 15px 15px 0;
   ul.p-menubar-root-list {
      &:focus, &:focus-visible {
         outline: none;
      }
      li.p-menuitem {
         span.p-menuitem-text {
            border-bottom: 1px solid transparent;
            &:hover {
               border-bottom: 1px solid white;
            }
         }
         a.p-menuitem-link {
            color: white;
            margin: 0 0 0 20px;

            span.p-menuitem-icon.icon {
               font-size: 1.2em;
               margin-right: 5px;
            }
            &:hover {
               text-decoration: none;
            }
         }
         ul.p-submenu-list {
            background: white;
            border-radius: 0 0 5px 5px;
            border: 1px solid var(--uvalib-grey-light);
            border-top: none;
            top: 32px;
            width: max-content;
            li.p-menuitem {
               span.p-menuitem-text {
                  border: none;
               }
               a.p-menuitem-link {
                  margin: 0;
                  padding: 10px 15px;
                  margin: 0 0 0 0;
                  font-weight: 400;
                  color: var(--uvalib-text-dark);
                  text-align: right;
                  box-sizing: border-box;
                  display: block;
                  cursor: pointer;
                  outline: none;
               }
            }
            li.p-menuitem.p-focus {
               a.p-menuitem-link {
                  outline: none;
                  background-color: var(--uvalib-brand-blue-lightest);
                  color: var(--uvalib-text-dark);
               }
            }
         }
      }
      li.p-menuitem.p-focus {
         a.p-menuitem-link {
            outline: 3px dotted var(--uvalib-grey-lightest);
            outline-offset: 3px;
         }
      }
   }
}

// span.p-button.p-component.p-fileupload-choose {
//    width: 100%;
// }

// button.p-button, .p-fileupload.p-fileupload-basic.p-component {
//    font-family: inherit;
//    font-size: 100%;
//    padding: 0.5em 1em;
//    text-decoration: none;
//    margin: 0;
//    border-radius: 5px;
//    font-weight: 400;
//    cursor: pointer;
//    color: #ffffff;
//    background-color: var(--uvalib-brand-blue-light);
//    border: 1px solid var(--uvalib-brand-blue-light);
//    margin: 0;
//    &:hover {
//       background-color: var(--uvalib-brand-blue-lighter);
//       border: 1px solid var(--uvalib-brand-blue-lighter);
//       transition: all 0.3s ease;
//    }

//    &:focus {
//       @include be-accessible();
//    }
//    .p-fileupload-choose {
//       background: none;
//       border: 0;
//       padding: 0;
//       .p-button-icon.p-button-icon-left {
//          display: none;
//       }
//       &:focus {
//          box-shadow: none;
//       }
//    }
// }

// button.p-button.p-disabled {
//    opacity: 0.3;
// }

// button.p-button.p-button-secondary {
//    background-color: var(--uvalib-grey-lightest);
//    border: 1px solid var(--uvalib-grey);
//    color: #000;
//    &:hover {
//       background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1))) !important;
//       background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1)) !important;
//       background-color: var(--uvalib-grey-lightest) !important;
//       color: #000 !important;
//    }
// }


// button.p-button.p-button-text {
//    padding: 0;
//    background: none;
//    border: none;
//    color: var(--uvalib-blue-alt-dark);
//    font-weight: 500;
//    text-decoration: none;
//    &:hover {
//       text-decoration: underline;
//    }
// }