@media only screen and (min-width: 768px) {
   .p-component-overlay .p-dialog {
      max-width: 60%;
      min-width: 40%;
   }
}
@media only screen and (max-width: 768px) {
   .signup-form {
      max-width:95%;
   }
}
.p-component-overlay {
   .p-dialog {
      font-family: "franklin-gothic-urw", arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: var(--color-primary-text);
      min-width: 30%;

      .p-dialog-header {
         background-color: var(--uvalib-blue-alt-light);
         border-bottom: 2px solid var(--uvalib-blue-alt);
         padding: 8px 10px;
         .p-dialog-title {
            font-weight: 500;
            font-size: 1.1em;
         }
      }
      .p-dialog-content {
         background: white;
         padding: 25px;
         font-weight: 400;
         a {
            color: var(--color-link);
            font-weight: 500;
            text-decoration: underline;
            &:hover {
               text-decoration: underline;
            }
            &:focus {
               @include be-accessible();
            }
         }
         .form-controls {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: stretch;
            margin: 20px 0 0 0;
            text-align: right;
            padding: 0;
            button:disabled {
               opacity: 0.2;
            }
            button {
               margin: 0 0 0 10px;
            }
            .submit-button button {
               @include primary-button();
               width: auto;
               margin-bottom: 0;
            }
         }
      }
      .p-dialog-footer {
         padding: 10px 20px 20px 20px;
         button.p-button {
            display: inline-block;
            margin-left: 10px;
         }
      }
   }
   .p-dialog.p-confirm-dialog {
      max-width: 500px;
      .p-dialog-header {
         padding: 5px 10px;
         background: var(--uvalib-teal-lightest);
         border-bottom: 1px solid var(--uvalib-teal-light);
         .p-dialog-title {
            font-size: 1em;
         }
      }
      .p-dialog-content {
         padding-top: 25px;
         font-size: 0.9em;
      }
      button.p-button {
         margin-left: 10px;
      }
   }
}

div.p-dropdown:not(.p-disabled).p-focus{
   @include be-accessible();
   box-shadow: none;
   z-index: 1;
}
div.p-dropdown {
   border-radius: 5px 5px 0 0;
   flex-grow: 1;
   &:focus {
      @include be-accessible();
   }
   .more {
      display: block;
      margin-top: 2px;
      color: var(--uvalib-text);
   }
   .more-selection {
      margin-top: 2px;
      background-color: var(--uvalib-brand-blue);
      color: white;
      .total {
         display: block;
         font-size: 0.75em;
         margin: 0;
         font-weight: normal;
      }
   }
}

.p-checkbox-box.p-highlight {
   border-color: var(--uvalib-brand-blue-light);
   background: var(--uvalib-brand-blue-light);
}
label.cb-label {
   margin-left: 10px;
   cursor: pointer;
   &:hover {
      text-decoration: underline;
   }
}

.p-dropdown-items-wrapper {
   border-radius: 5px;
   .p-dropdown-items {
      padding: 0;
      .p-dropdown-item {
         &:hover {
            color: var(--uvalib-text-dark);
            background: var(--uvalib-brand-blue-lightest);
         }
      }
      .p-dropdown-item.p-highlight {
         color: white;
         background: var(--uvalib-brand-blue);
      }
   }
   .p-dropdown-item.p-focus {
      color: var(--uvalib-text-dark);
      background: var(--uvalib-brand-blue-lightest);
   }
}

div.p-overlaypanel {
   background: white;
   font-weight: normal;
   font-family: "franklin-gothic-urw", arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   .p-overlaypanel-content {
      padding: 0;
   }
}
div.p-overlaypanel.border {
   border: 1px solid var(--uvalib-grey);
}
div.p-overlaypanel.border:before {
   border: solid transparent;
   border-color: rgba(255, 255, 255, 0);
   border-bottom-color: var(--uvalib-grey);
   border-width: 10px;
}

button.p-button.p-button-text.disclosure {
   span.btn-txt {
      display: inline-block;
   }
   i.arrow {
      padding-left: 2px;
      margin-right: 5px;
      width: 8px;
      display: inline-block;
      transform: rotate(0deg);
      transition-duration: 100ms;
   }
}

#app div.p-menubar.p-component {
   background-color: var(--uvalib-blue-alt-darkest);
   position: relative;
   padding: 10px;
   justify-content: flex-end;
   border-radius: 0;
   border: none;

   .p-menubar-button {
      color: white;
      &:hover {
         background-color: var(--uvalib-blue-alt);
      }
   }

   .p-menubar-end {
      margin: 0px 5px 0 10px;
      align-self: center;
   }

   li.p-menuitem {
      a.p-menuitem-link {
         margin: 0;
         padding: 0;
         margin: 0 0 0 0;
         font-weight: 400;
         text-align: right;
         box-sizing: border-box;
         display: block;
         cursor: pointer;
         outline: none;
         span.p-menuitem-text {
            border: none;
            color: white;
         }
         &:hover {
            text-decoration: underline !important;
            color: white !important;
         }
      }

      .p-menuitem-content {
         background: none;
         padding: 0;
         margin: 0 0 0 20px;
         a {
            margin: 0;
            padding:0;
            display: inline-block;
            .p-menuitem-text,  .p-menuitem-icon, .p-submenu-icon {
               color: white;
               margin-left: 0px;
            }
            .p-menuitem-text {
               &:hover {
                  text-decoration: underline;
               }
            }

            span.p-menuitem-icon.icon {
               font-size: 1.2em;
               margin-right: 5px;
            }
         }

      }
   }

   li.p-menuitem.p-focus {
      .p-menuitem-content {
         a {
            display: inline-block;
            outline: 3px dotted var(--uvalib-grey-lightest);
            border: none;
            outline-offset: 3px;
         }
      }
   }

   ul.p-menubar-root-list {
      &:focus, &:focus-visible {
         outline: none;
      }
      li.p-menuitem.p-highlight {
         background: none;
      }
   }

   ul.p-submenu-list {
      border-radius: 0 0 5px 5px;
      border: 1px solid var(--uvalib-grey-light);
      border-top: 0;
      top: 33px;
      right: 0;
      width: max-content;
      box-shadow: $v4-box-shadow-light;
      text-align: right;

      li.p-menuitem {
         .p-menuitem-content {
            margin: 0;
            &:hover {
               background-color: var(--uvalib-blue-alt-light);
            }
            a {
               padding: 10px 15px;
               outline: none;
               &:hover {
                  text-decoration: none !important;
               }
            }
            .p-menuitem-text {
               color: var(--uvalib-text-dark);
               &:hover {
                  text-decoration: none !important;
               }
            }
         }
      }
      li.p-menuitem.p-focus {
         .p-menuitem-content {
            background-color: var(--uvalib-blue-alt-light);
         }
      }
   }
}

#app div.p-menubar.p-component.p-menubar-mobile-active {
   .p-menubar-root-list {
      background-color: var(--uvalib-brand-blue);
      text-align: left;
      .p-menuitem {
         padding: 10px 0;
         .p-menuitem-content {
            margin: 0 10px;
         }
         .p-menuitem-icon {
            display: none;
         }
         .p-submenu-list {
            background-color: var(--uvalib-brand-blue);
            border-radius: 0;
            border: none;
            border-top: 0;
            width: max-content;
            padding: 0;
            box-shadow: none;
            font-size: 0.9em;
            margin: 10px 0 0 25px;
            li.p-menuitem.p-focus {
               outline: 3px dotted white;
               background-color: var(--uvalib-brand-blue);
            }
            a.p-menuitem-link {
               padding: 2px 5px;
               span.p-menuitem-text, .p-menuitem-icon {
                  color: white;
               }
            }
         }
      }
      li.p-menuitem.p-focus {
         .p-menuitem-content {
            background-color: var(--uvalib-brand-blue);
         }
      }
   }
}


button.p-button.p-button-text {
   background: none;
   border: none;
   color: var(--color-link);
   font-weight: 500;
   cursor: pointer;
   padding: 0;
   border-radius: 0;
   margin: 0;
   display: inline-block;
   &:hover {
      background: none;
      border: none;
      text-decoration: underline;
   }
}

button.p-button.p-component.p-button-link {
   background: none;
   border: none;
   color: var(--color-link);
   font-weight: 500;
   text-decoration: none;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   align-items: baseline;
   border-radius: 0;
   .p-button-icon.p-button-icon-right {
      margin-left: 10px;
   }
}

button.p-button-icon-only.p-button {
   background: transparent;
   color: var(--uvalib-text);
   border: none;
   padding: 2px;

   .p-button-label {
      display: none;
   }
   &:hover {
      background: transparent;
      border: none;
      color: var(--uvalib-blue-alt);
   }
}

button.p-button.p-button-secondary {
   background-color: var(--uvalib-grey-lightest);
   border: 1px solid var(--uvalib-grey);
   color: black;
}

button.p-button.p-component {
   margin: 0 0 5px 10px;
}
button.p-button, .p-fileupload.p-fileupload-basic.p-component {
   font-family: inherit;
   font-size: 100%;
   padding: 0.5em 1em;
   text-decoration: none;
   margin: 0;
   border-radius: 5px;
   font-weight: 400;
   cursor: pointer;
   color: #ffffff;
   background-color: var(--uvalib-brand-blue-light);
   border: 1px solid var(--uvalib-brand-blue-light);
   width: auto;

   .p-button-icon.p-button-icon-left {
      display: inline-block;
      margin-right: 0.5rem;
      font-weight: 400;
      line-height: 1;
   }

   &:hover {
      background-color: var(--uvalib-brand-blue-lighter);
      border: 1px solid var(--uvalib-brand-blue-lighter);
      transition: all 0.3s ease;
   }

   &:focus {
      @include be-accessible();
      box-shadow: none;
   }
   .p-fileupload-choose {
      background: none;
      border: 0;
      padding: 0;
      .p-button-icon.p-button-icon-left {
         display: none;
      }
      &:focus {
         box-shadow: none;
      }
   }
}

button.p-button.p-component.small {
   padding: 4px 12px;
   background-color: var(--uvalib-brand-blue-light);
   border: 1px solid var(--uvalib-brand-blue-light);
   color: white;
   &:hover {
      background-color: var(--uvalib-brand-blue-lighter);
      border: 1px solid var(--uvalib-brand-blue-lighter);
      transition: all 0.3s ease;
   }
}

button.p-button.p-disabled {
   opacity: 0.3;
}

button.p-button.p-button-secondary {
   background-color: var(--uvalib-grey-lightest);
   border: 1px solid var(--uvalib-grey);
   color: #000;
   &:hover {
      background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1))) !important;
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1)) !important;
      background-color: var(--uvalib-grey-lightest) !important;
      color: #000 !important;
   }
}